---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout>
  <h1 style = "text-align: center"> A Shepherd King</h1>
  <img style = "width:100%; height: auto;" src = "src/pages/background game.png" alt = "Shepherd King" /> 

</BaseLayout>